[Desktop Entry]
Encoding=UTF-8
Name=Idle Time Control
Name[en]=Manage system inactivity
Name[es]=Programar Inactividad del Sistema
Comment=This app allow you launch an action in function the idle time
Comment[en]=This app allow you launch an action in function the idle time
Comment[es]=Aplicación que permite programar una acción ante la Inactividad del equipo
Icon=tiempo-inactividad
Exec=vx-pk-control-inactividad-programar
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
Hidden=false

