[Desktop Entry]
Type=Application
Exec=sudo /sbin/start-stop-daemon --start --oknodo --quiet -b --name vx-inactividad -m --pidfile /run/vx-control-inactividad.pid -a /usr/bin/vx-inactividad
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[es_ES]=Control del Tiempo de Inactividad
Name=Control Idle Time
Name[en]=Control Idle Time
Comment[es_ES]=Control del Tiempo de Inactividad de los usuarios del sistema
Comment=Control Idle Time System Users
Comment[en]=Control Idle Time System Users
